<footer id="footer" class="footer">
  <div class="inner">
    <nav class="footer-navigation">
      <ul>
        <li>
          <a class="{% if page.pathName == "rootPath" %} active {% endif %}" href="/">
            Critical Maps
          </a>
        </li>
        <li>
          <a class="{% if page.pathName == "infoPath" %} active {% endif %}" href="/info">
            Imprint
          </a>
        </li>
        <li>
          <a class="{% if page.pathName == "mapPath" %} active {% endif %}" href="/map">
            Map
          </a>
        </li>
        <li>
          <a href="https://mastodon.social/@criticalmaps" target="_blank" rel="noopener" title="Critical Maps Mastodon">Mastodon</a>
        </li>
        <li>
          <a href="https://instagram.com/criticalmaps" target="_blank" rel="noopener" title="Critical Maps Instagram">Instagram</a>
        </li>
        <li>
          <a href="https://www.facebook.com/criticalmaps" target="_blank" rel="noopener"
          title="Critical Maps Facebook">Facebook</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>