html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #FFF;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  @media (prefers-color-scheme: dark) {
    background: $color-gray100;
  }
}

.inner {
  position: relative;
  max-width: 96rem;
  margin: auto;
  padding: 0 2.4rem;

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.wrapper {
  position: relative;
  z-index: 10;
}

.mapPath main {
  height: 100vh;
}



//============================================================
//	Navigation
//============================================================

.navigation {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  box-sizing: border-box;
  background: linear-gradient(#FFF,rgba(255,255,255,.5));
  backdrop-filter: blur(10px);

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(rgba(26,26,26,1),rgba(26,26,26,.75));
  }

  .inner {
    display: flex;
    padding: 2.4rem;
  }

  .nav-logo {
      width: 14rem;
      flex-shrink: 0;
      margin-left: 0;
      margin-right: auto;
      align-content: center;

      a {
          display: block;
          text-decoration: none;
          color: inherit;
      }

      img {
          display: block;
          width: 100%;
          height: auto;
      }
  }

  .nav-github {
    display: flex;
    align-content: center;
    margin-left: auto;
    margin-right: 0;
  }

  .nav-button {
    font-size: 1.6rem;
    margin: auto 0.4rem;
    padding: 1rem 1.6rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: $color-gray100;
    background: rgba(0,0,0,.05);
    border-radius: 4rem;
    text-decoration: none;
    transition: all ease-out 0.2s;
    white-space: nowrap;

    svg {
      width: 1.6rem;
      vertical-align: middle;
      display: inline-block;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.4rem;
    }

    @media (prefers-color-scheme: dark) {
      color: $color-gray500;
      background: rgba(255,255,255,0.05);
    }

    &:hover,
    &:focus {
      color: $color-gray100;
      background: rgba(0,0,0,0.1);
      transform: scale3d(1.01,1.01,1);

      @media (prefers-color-scheme: dark) {
        color: $color-gray600;
        background: rgba(255,255,255,0.1);
        box-shadow: 0 0 4px rgba(255,255,255,.05), 0 0 8px rgba(255,255,255,.05), inset 0 0 2px rgba(255,255,255,.1);
      }
    }
  }
}

.mapPath {

  .navigation {
    position: absolute;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

    .inner {
        
      @media only screen and (max-width: $screen-small) {
        padding: 1.2rem;
      }
    }
  }
}

//============================================================
//	Footer
//============================================================

.footer {
    padding: 4rem;

    background: $color-gray100;
    color: $color-gray400;
  
    .footer-navigation {
      display: flex;

      @media only screen and (max-width: $screen-small) {
        flex-direction: column;
      }

      ul {
        display: flex;
        gap: 2rem;
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }

    a {
      color: $color-gray400;
      text-decoration: none;
      font-weight: 400;

      &:hover,
      &:focus {
        color: $color-gray600;
        text-decoration: none;
      }

      &.active {
        font-weight: 600;
        color: #fff;

        @media (prefers-color-scheme: dark) {
          color: #FFF;
        }
      }
    }
}

//============================================================
// Stage
//============================================================

.stage {
  padding: calc(8vw + 4rem) 0 8rem;

  @media only screen and (min-width: $screen-large) {
      padding-top: 16rem;
  }

  .stage--title {
    position: relative;
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 10vw;
    line-height: 1em;
    color: $color-gray100;
    font-weight: 800;

    @media (prefers-color-scheme: dark) {
      color: #FFF;
    }

    @media only screen and (min-width: $screen-large) {
      font-size: 10rem;
    }

    @media only screen and (max-width: $screen-small) {
      font-size: 9.5vw;
      line-height: 1.25em;
      font-weight: 900;
    }
  }

  .stage--description {
    position: relative;
    margin-top: 0;
    font-size: 3.2rem;
    line-height: 1.5em;

    @media only screen and (max-width: $screen-small) {
      font-size: 2.4rem;
      line-height: 1.5em;
    }
  }

  .stage--download {
    display: inline-flex;
    gap: 1.6rem;
    z-index: 3;
    width: 100%;
    margin: 2rem auto 0;
    flex-flow: wrap;

    @media only screen and (max-width: $screen-small) {
        flex-direction: column;
    }
  }

  .stage--button {
    padding: 1rem 2.6rem 1rem 2.2rem;
    width: auto;
    gap: 1.2rem;

    svg {
      width: 3rem;
    }

    .download-icon {
      display: flex;
      flex-direction: column;
    }

    .download-text--tagline {
      font-size: 1.2rem;
      line-height: 1em;
      color: $color-gray300;

      @media (prefers-color-scheme: dark) {
        color: $color-gray400;
      }
    }

    .download-text--title {
      font-size: 1.8rem;
      line-height: 1.5em;
      color: $color-gray100;

      @media (prefers-color-scheme: dark) {
        color: #FFF;
      }
    }
  }
}

html.ios,
html.android {

  // Add arrow decoration to platform-specific download buttons
  .stage--button {
    position: relative;
    
    &::after {
      content: '→';
      position: absolute;
      right: 0;
      top: 0;
      width: 4rem;
      height: 4rem;
      margin: 1rem;
      line-height: 4rem;
      text-align: center;
      font-size: 2.4rem;
      color: white;
      background: $color-action-light;
      border-radius: 4rem;
      pointer-events: none;

      @media (prefers-color-scheme: dark) {
        color: black;
        background: $color-action-dark
      }
    }
  }
}

html.ios {

  // Hide Android and F-Droid buttons on iOS devices
  .button-android,
  .button-fdroid {
    display: none;
  }
}

html.android {

  // Hide iOS button on Android devices
  .button-ios {
    display: none;
  }
}



//============================================================
// Map
//============================================================

.map {
  position: relative;
  z-index: 200;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 4rem;
    width: 100%;
    height: calc(100% - 4rem);
    background-attachment: scroll;
    background-image: 
      repeating-linear-gradient(90deg, #ffffff22 0 1px, #0000 1px 25px), 
      repeating-linear-gradient(#ffffff22 0 1px, #0000 1px 25px), 
      repeating-linear-gradient(90deg, #ffffff44 0 1px, #0000 1px 100px), 
      repeating-linear-gradient(#ffffff44 0 1px, #0000 1px 100px);

    @media (prefers-color-scheme: dark) {
      background-image: 
        repeating-linear-gradient(90deg, #ffffff08 0 1px, #0000 1px 25px), 
        repeating-linear-gradient(#ffffff08 0 1px, #0000 1px 25px), 
        repeating-linear-gradient(90deg, #ffffff1a 0 1px, #0000 1px 100px), 
        repeating-linear-gradient(#ffffff1a 0 1px, #0000 1px 100px);
    }
    background-position:
      calc(50% + 12.5px) calc(50% + 12.5px), 
      calc(50% + 12.5px) calc(50% + 12.5px), 
      calc(50% + 50px) calc(50% + 50px), 
      calc(50% + 50px) calc(50% + 50px);

    background-size: 
      25px 25px, 
      25px 25px, 
      100px 100px, 
      100px 100px;
    
    @media only screen and (max-width: $screen-small) {
      display: none;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -2;
    left: 0;
    top: 4rem;
    width: 100%;
    height: calc(100% - 4rem);
    background-color: $color-action-light;
    background-image: url('../images/map-background-light.webp');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    @media (prefers-color-scheme: dark) {
      background-color: $color-action-dark;
      background-image: url('../images/map-background-dark.webp');
    }

    @media only screen and (max-width: $screen-small) {
      background-image: none;
    }
  }

  .map-wrapper {
    position: relative;
    width: 100%;
    box-sizing: border-box;

    @media only screen and (min-width: $screen-large) {
      width: calc(100% + 4.8rem);
      margin-left: -2.4rem;
      margin-right: -2.4rem;
    }

    #map {
      padding-bottom: calc(100% / 3 * 2);
      margin-bottom: -4rem;
      border-radius: 2rem;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 8px rgba(0, 0, 0, 0.06), 0px 4px 12px rgba(0, 0, 0, 0.08), 0px 16px 24px -4px rgba(0, 0, 0, 0.1), 0px 32px 48px -8px rgba(0, 0, 0, 0.12);

      @media only screen and (max-width: $screen-small) {
        padding-bottom: 125%;
      }
    }

    #map-count {
      position: absolute;
    }
  }
}

//============================================================
// Contribute
//============================================================

.contribute {
  padding: calc(4vw + 16rem) 0 calc(4vw + 8rem);

  .contribute--introduction {
    font-size: 3.6rem;
    line-height: 1.5em;

    @media only screen and (max-width: $screen-small) {
      font-size: 2.4rem;
      line-height: 1.5em;
    }

    .contribute--button {
      display: inline-flex;
      vertical-align: middle;
      margin: 0 0.1em;
      padding: 0.2em 0.4em;
      gap: 0.3em;

      span {
        line-height: 1rem;
      }
    }

    .contribute--button-title {
      font-size: 0.6em;
      line-height: 1em;
      font-weight: 700;
    }
  }

  .contribute--decoration {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 50%;
    width: 40rem;
    margin-top: -20rem;
    margin-right: -10rem;
    pointer-events: none;
    color: $color-action-dark;

    @media only screen and (max-width: $screen-small) {
      margin-right: -16rem;
    }

    @media (prefers-color-scheme: dark) {
      color: $color-action-light;
    }

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

//============================================================
// sponsor
//============================================================

.sponsor {
  padding: 8rem 0;

  @media only screen and (max-width: $screen-small) {
    padding-bottom: 2.4rem;
  }

  .sponsor-wrapper {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-flow: dense;
    gap: 2rem;

    @media only screen and (min-width: $screen-large) {
      width: calc(100% + 4.8rem);
      margin-left: -2.4rem;
      margin-right: -2.4rem;
    }
  }

  .sponsor-box {
    position: relative;
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    border-radius: 2rem;
    box-sizing: border-box;
    overflow: hidden;

    @media only screen and (max-width: $screen-small) {
      grid-column: span 12;
    }

    .sponsor-box--label {
      position: relative;
      z-index: 20;
      flex-grow: 0;
      margin-right: auto;
      padding: 0.4em 1.1em 0.4em 1.2em;
      border-radius: 4rem;
      font-size: 0.8em;
      line-height: 1em;
      font-weight: 600;
      letter-spacing: 8%;
      text-transform: uppercase;

      svg {
        width: 1.4em;
        vertical-align: middle;
        display: inline-block;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.3em;
      }
    }

    .sponsor-box--value {

      *:first-child {
        margin-top: 0;
      }

      *:last-child {
        margin-bottom: 0;
      }
    }
  }

  .sponsor-box--decoration {
    grid-row: span 9;
    background-image: url('../images/sponsor-decoration-background-light.webp');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    @media (prefers-color-scheme: dark) {
      background-image: url('../images/sponsor-decoration-background-dark.webp');
    }
  }

  .sponsor-box--statistics {
    grid-row: span 3;
    background: $color-action-light;
    color: white;

    @media (prefers-color-scheme: dark) {
      background: $color-action-dark;
      color: black;
    }

    .sponsor-box--background {
      position: absolute;
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: plus-lighter;
      opacity: 0.5;

      @media (prefers-color-scheme: dark) {
        mix-blend-mode: plus-darker;
        filter: invert(100%);
      }
    }

    .sponsor-box--label {
      background: rgba(0,0,0,.2);
      backdrop-filter: blur(5px);

      @media (prefers-color-scheme: dark) {
        background: rgba(0,0,0,.1);
      }
    }
    
    .sponsor-box--value {
      position: relative;
      z-index: 20;
      margin-top: auto;
      font-size: 1.8em;
      line-height: 1.333em;
      font-weight: 500;
      font-style: italic;

      @media only screen and (max-width: $screen-small) {
        font-size: 1.4em;
      }

      strong {
        font-weight: 900;
      }
    }
  }

  .sponsor-box--introduction {
    grid-row: span 8;
    background: $color-gray200;
    color: $color-gray600;

    .sponsor-box--label {
      background: $color-gray100;

      svg {
        color: hotpink;
      }
    }

    .sponsor-box--value {
      font-size: 1.6em;
      line-height: 1.5em;

      @media only screen and (max-width: $screen-small) {
        font-size: 1.3em;
      }
    }
  }

  .sponsor-box--collective {
    grid-row: span 4;
    background: transparent;
    color: $color-gray100;
    background: rgb(229, 243, 255);

    .sponsor-box--label {
      color: rgb(16, 65, 163);
      background: white;
      font-weight: 700;
    }

    .sponsor-box--value {
      font-size: 1.1em;
      line-height: 1.5em;

      @media only screen and (max-width: $screen-small) {
        font-size: 1.1em;
      }
    }

    .button {
      border: 0;
      background: rgb(16, 65, 163);
      color: white;

      &:hover,
      &:focus {
        background: rgb(10, 46, 119);
      }
    }

    .button-title {
      width: 100%;
      text-align: center;
    }
  }
}

// ============================================================
// Map
// ============================================================

#map {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #AAD3DF; //OSM
  background: #94C1E0; //Maptiler Basic
  z-index: 10;

  @media (prefers-color-scheme: dark) {
    background: #172131; //Maptiler Dark
  }

  left: 0;
  top: 0;
}

#map-count {
  position: fixed;
  display: flex;
  width: 14em;
  left: 50%;
  margin-left: -7em;
  bottom: 0;
  margin-bottom: 1.2rem;
  padding: 1rem;
  border-radius: 4rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  text-align: center;
  background: linear-gradient(#FFF,rgba(255,255,255,.5));
  backdrop-filter: blur(10px);
  color: $color-gray200;
  z-index: 100;
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(rgba(26,26,26,.75),rgba(26,26,26,1));
    color: #FFF;
  }

  @media only screen and (max-width: $screen-small) {
    margin-bottom: 2.4rem;
  }

  .map-count-online,
  .map-count-visible {
    display: block;
    width: 100%;

    span {
      font-weight: 700;
      color: rgba(68,0,255,1);

      @media (prefers-color-scheme: dark) {
        color: rgba(255,214,51,1);
      }
    }
  }
  .map-count-online {
    border-right: 1px solid $color-gray500;

    @media (prefers-color-scheme: dark) {
      border-color: $color-gray300;
    }
  }
}

#map {
  .leaflet-control-zoom {
    margin: 1.2rem;

    @media only screen and (max-width: $screen-small) {
      margin: 2.4rem;
    }
  }

  .leaflet-verticalcenter {
    position: absolute;
    top: 50%;
    margin-top: -4rem;
  }

  .leaflet-bar {
    background: linear-gradient(#FFF,rgba(255,255,255,.5));
    backdrop-filter: blur(10px);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 4rem;
    border: 0;

    @media (prefers-color-scheme: dark) {
      background: linear-gradient(rgba(26,26,26,.75),rgba(26,26,26,1));
      color: #FFF;
    }
  }
  .leaflet-bar a {
    background-color: transparent;
    border-bottom: 1px solid $color-gray500;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    color: $color-gray100;

    @media (prefers-color-scheme: dark) {
      border-color: $color-gray200;
      color: $color-gray500;
    }
  }
  .leaflet-bar a span {
    position: relative;
    top: -2px;
  }
  .leaflet-bar a:hover,
  .leaflet-bar a:focus {
    background-color: $color-gray600;

    @media (prefers-color-scheme: dark) {
     background-color: $color-gray200;
    }
  }
  .leaflet-bar a:first-child {
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    padding-top: 0.2rem;
  }
  .leaflet-bar a:last-child {
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding-bottom: 0.2rem;
    border-bottom: 0;
  }
  .leaflet-bar a.leaflet-disabled {
    background-color: transparent;
    color: $color-gray400;

    @media (prefers-color-scheme: dark) {
     color: $color-gray300;
    }
  }

  .leaflet-touch .leaflet-bar a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

//============================================================
// Imprint
//============================================================

.imprint {
  padding: 8vw 0;

  @media only screen and (min-width: $screen-large) {
      padding-top: 8rem;
  }
}