html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #FFF;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  @media (prefers-color-scheme: dark) {
    background: $color-gray100;
  }
}

.inner {
  position: relative;
  max-width: 96rem;
  margin: auto;
  padding: 0 2.4rem;

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.wrapper {
  position: relative;
  z-index: 10;
  padding: 8rem 0;

  @media only screen and (max-width: $breakpoint) {
      padding-top: 4rem;
  }
}

.infoPath #wrapper {
  padding-bottom: 24rem;
}

.infoPath .inner {
  max-width: 72rem;
}


//============================================================
//	Navigation
//============================================================

#navigation {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem;
    z-index: 9999;
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    flex-direction: row;

    @media only screen and (max-width: $breakpoint) {
      padding: 0;
    }

    .inner {
      max-width: 96rem;
      display: flex;
      flex-grow: 1;
      padding: 1.2rem 1.6rem;
      border-radius: 8rem;
      background: linear-gradient(#FFF,rgba(255,255,255,.5));
      backdrop-filter: blur(10px);

      @media (prefers-color-scheme: dark) {
        background: linear-gradient(rgba(26,26,26,1),rgba(26,26,26,.75));
      }

      @media only screen and (max-width: $breakpoint) {
        flex-wrap: wrap;
        border-radius: 3.2rem;
        padding: 1.2rem;
        border-radius: 0;
      }
    }

    .nav-logo {
        width: 14rem;
        flex-shrink: 0;
        margin-left: 0;
        margin-right: auto;
        align-content: center;

        @media only screen and (max-width: $breakpoint) {
          width: 12rem;
          order: 1;
        }

        a {
            display: block;
            text-decoration: none;
            color: inherit;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .nav-primary {
        margin: 0 auto;
        align-content: center;

        @media only screen and (max-width: $breakpoint) {
          width: 100%;
          order: 3;
          flex-grow: 1;
          margin-top: 0.8rem;
        }
    }

    .nav-secondary {
      display: flex;
      align-content: center;
      margin-left: auto;
      margin-right: 0;

      @media only screen and (max-width: $breakpoint) {
        order: 2;
      }
    }

    .nav-button {
      font-size: 1.6rem;
      margin: auto 0.4rem;
      padding: 1rem 1.6rem;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
      color: $color-gray100;
      background: rgba(0,0,0,.05);
      border-radius: 4rem;
      text-decoration: none;
      transition: all ease-out 0.2s;
      white-space: nowrap;

      svg {
        width: 1.6rem;
        vertical-align: middle;
        display: inline-block;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.4rem;
      }

      @media (prefers-color-scheme: dark) {
        color: $color-gray500;
        background: rgba(255,255,255,0.05);
      }

      &:hover,
      &:focus {
        color: $color-gray100;
        background: rgba(0,0,0,0.1);
        transform: scale3d(1.01,1.01,1);

        @media (prefers-color-scheme: dark) {
          color: $color-gray600;
          background: rgba(255,255,255,0.1);
          box-shadow: 0 0 4px rgba(255,255,255,.05), 0 0 8px rgba(255,255,255,.05), inset 0 0 2px rgba(255,255,255,.1);
        }
      }
    }


  ul {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin: 0;
      padding: 0;

    li {
      display: flex;

      a {
        position: relative;
        display: block;
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 1.6rem 2.4rem;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        color: $color-gray400;
        transition: all ease-out 0.2s;
        box-sizing: border-box;

        @media only screen and (max-width: $breakpoint) {
          padding: 1.2rem 1.6rem;
        }

        &:hover,
        &:focus {
          color: $color-gray300;

          @media (prefers-color-scheme: dark) {
            color: #FFF;
          }
        }

        &.active {
          font-weight: 700;
          color: $color-gray200;

          @media (prefers-color-scheme: dark) {
            color: #FFF;
          }
        }
      }
    }
  }
}

.galleryPath,
.mapPath {

    #navigation {
      position: absolute;

      .inner {
          background: linear-gradient(#FFF,rgba(255,255,255,.5));
          backdrop-filter: blur(10px);
          box-shadow: 0 1px 2px rgba(0,0,0,0.2);

          @media (prefers-color-scheme: dark) {
            background: linear-gradient(rgba(26,26,26,1),rgba(26,26,26,.75));
          }
    }
    }
}

//============================================================
//	Footer
//============================================================

.footer {
    padding: 4rem;
    text-align: center;
    color-scheme: dark;

    .footer-navigation {

      ul {
        display: flex;
        gap: 1rem;
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      font-weight: 600;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
}

//============================================================
// Stage
//============================================================

.stage {
  padding-top: 12rem;
  padding-bottom: 8rem;

  @media only screen and (max-width: $breakpoint) {
    padding-top: 4rem;
  }
}

.stage .inner {
  max-width: 96rem;
}

.stage--title {
  position: relative;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 10rem;
  line-height: 1em;
  color: $color-gray100;
  font-weight: 800;

  @media (prefers-color-scheme: dark) {
    color: #FFF;
  }

  @media only screen and (max-width: 64rem) {
    font-size: 10vw;
  }

  @media only screen and (max-width: $breakpoint) {
    font-size: 9.5vw;
    line-height: 1.25em;
  }
}

.stage--description {
  position: relative;
  margin-top: 0;
  font-size: 3.2rem;
  line-height: 1.5em;

  @media only screen and (max-width: $breakpoint) {
    font-size: 2.4rem;
    line-height: 1.5em;
  }

  a {
    font-weight: 600;
    color: inherit;
    text-decoration: none;

    &:focus,
    &:hover {
      border-bottom: 2px solid currentColor;
    }
  }
}

.stage--buttongroup {
  display: inline-flex;
  gap: 1.6rem;
  z-index: 3;
  width: 100%;
  margin: 2rem auto 0;
  flex-flow: wrap;

  @media only screen and (max-width: $breakpoint) {
      flex-direction: column;
  }

  .stage--button {
    padding: 1rem 2.6rem 1rem 2.2rem;
    width: auto;
    gap: 1.2rem;

    svg {
      width: 3rem;
    }

    .download-text--tagline {
      font-size: 1.2rem;
      line-height: 1em;
      color: $color-gray300;

      @media (prefers-color-scheme: dark) {
        color: $color-gray400;
      }
    }

    .download-text--title {
      font-size: 1.8rem;
      line-height: 1.5em;
      color: $color-gray100;

      @media (prefers-color-scheme: dark) {
        color: #FFF;
      }
    }
  }
}

html.ios .download .button-android,
html.ios .f-droid {
  display: none;
}

html.android .download .button-ios {
  display: none;
}



//============================================================
// Screenshot
//============================================================

.screenshot {
  position: relative;
  z-index: 200;
  padding: 0;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 6rem;
    width: 100%;
    height: calc(100% - 6rem);
    background-attachment: scroll;
    background-image: 
      repeating-linear-gradient(90deg, #ffffff22 0 1px, #0000 1px 25px), 
      repeating-linear-gradient(#ffffff22 0 1px, #0000 1px 25px), 
      repeating-linear-gradient(90deg, #ffffff44 0 1px, #0000 1px 100px), 
      repeating-linear-gradient(#ffffff44 0 1px, #0000 1px 100px);

    @media (prefers-color-scheme: dark) {
      background-image: 
        repeating-linear-gradient(90deg, #ffffff08 0 1px, #0000 1px 25px), 
        repeating-linear-gradient(#ffffff08 0 1px, #0000 1px 25px), 
        repeating-linear-gradient(90deg, #ffffff1a 0 1px, #0000 1px 100px), 
        repeating-linear-gradient(#ffffff1a 0 1px, #0000 1px 100px);
    }
    background-position:
      calc(50% + 12.5px) calc(50% + 12.5px), 
      calc(50% + 12.5px) calc(50% + 12.5px), 
      calc(50% + 50px) calc(50% + 50px), 
      calc(50% + 50px) calc(50% + 50px);

    background-size: 
      25px 25px, 
      25px 25px, 
      100px 100px, 
      100px 100px;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -2;
    left: 0;
    top: 6rem;
    width: 100%;
    height: calc(100% - 6rem);
    background-color: #000;
    background-image: url('../images/screenshot-background-light.webp');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    @media (prefers-color-scheme: dark) {
      background-image: url('../images/screenshot-background-dark.webp');
    }
  }

  .screenshot-wrapper { 
    width: 100%;
    box-sizing: border-box;

    @media only screen and (max-width: $breakpoint) {
        padding: 0 2rem;
    }
  }

  figure {
    position: relative;
    margin: 0 0 -4rem;
    width: 100%;
    max-width: 40rem;
    z-index: 2;

    picture {
      display: block;
      overflow: hidden;
      border-radius: 4rem;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 8px rgba(0, 0, 0, 0.06), 0px 4px 12px rgba(0, 0, 0, 0.08), 0px 16px 24px -4px rgba(0, 0, 0, 0.1), 0px 32px 48px -8px rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      border-radius: 4rem;
      pointer-events: none;
    }
  }
}

//============================================================
// Contribute
//============================================================

.contribute {
  padding: 16rem 0 8rem;

  .contribute--introduction {
    font-size: 3.6rem;
    line-height: 1.5em;

    @media only screen and (max-width: $breakpoint) {
      font-size: 2.4rem;
      line-height: 1.5em;
    }

    .contribute--button {
      display: inline-flex;
      vertical-align: middle;
      margin: 0 0.1em;
      padding: 0.2em 0.4em;
      gap: 0.3em;
    }

    .contribute--button-title {
      font-size: 0.6em;
      line-height: 1em;
      font-weight: 700;
    }

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  .contribute--decoration {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: -12rem;
    width: 40rem;
    pointer-events: none;
    color: $color-gray500;

    @media only screen and (max-width: $breakpoint) {
      right: -16rem;
    }

    @media (prefers-color-scheme: dark) {
      color: $color-gray200;
    }

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

//============================================================
// Donate
//============================================================

.donate {

  .donate--introduction {
    padding: 5rem;
    border-radius: 6rem;
    background: linear-gradient(180deg, #52BBF7 0%, #2FA8EE 100%);
    color: white;
    font-size: 2.4rem;
    line-height: 1.5em;

    @media only screen and (max-width: $breakpoint) {
      font-size: 2rem;
      line-height: 1.5em;
      padding: 3rem;
      border-radius: 4rem;
    }

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }

    .donate--button {
      background: transparent;
      border-color: #fff;
      color: #fff;
    }

    .donate--button-title {
      width: 100%;
      text-align: center;
    }
  } 
}

// ============================================================
// Gallery
// ============================================================

#gallerymap {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #AAD3DF; //OSM
  background: #94C1E0; //Maptiler Basic
  left: 0;
  top: 0;
}

.popupimage {
  display: block;
  width: 16rem;
  margin: 2rem auto;
}

// ============================================================
// Map
// ============================================================

#map {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #AAD3DF; //OSM
  background: #94C1E0; //Maptiler Basic

  @media (prefers-color-scheme: dark) {
    background: #172131; //Maptiler Dark
  }

  left: 0;
  top: 0;
}

#map-count {
  position: fixed;
  height: 32px;
  left: 0;
  bottom: 0;
  margin-left: 4.6rem;
  margin-bottom: 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.65);
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  background: rgba(255,255,255,0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: $color-gray200;
  z-index: 100;
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    background: rgba(26,26,26,0.8);
    color: #FFF;
  }

  @media only screen and (max-width: $breakpoint) {
    display: none;
  }
}

#map-share {
  position: fixed;
  left: 0;
  bottom: 0;
  width: calc(100vw - 5.6rem);
  max-width: 48rem;
  margin-left: 4.6rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.8rem 1.2rem 0;
  border-radius: 0.4rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.65);
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  background: rgba(255,255,255,0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: $color-gray200;
  z-index: 100;
  box-sizing: border-box;

  @media only screen and (max-width: $breakpoint) {
    display: none;
  }

  p {
    margin-top: 0.4rem;
  }

  pre {
    color: $color-gray300;
    margin: -0.4rem -1.2rem 0;
    padding: 1.2rem;
    overflow-x: scroll;
    overflow-y: hidden;
    background: #FFF;
    border-radius: 0 0 0.4rem 0.4rem;
  }
}


//============================================================
// Videos
//============================================================


.video-post {
  margin: 2.5em auto;

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  .video-info {
    float: left;
    width: 33.333%;
    box-sizing: border-box;
    padding-right: 0.5em;

    @media only screen and (max-width: $breakpoint) {
      float: none;
      width: auto;
      padding: 0;
    }

    .video-title {
      margin: 0;
    }

    p {
      margin: 0 0 1em;
      font-style: italic;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .video-media {
    float: right;
    width: 66.666%;
    box-sizing: border-box;
    padding-left: 0.5em;

    @media only screen and (max-width: $breakpoint) {
      float: none;
      width: auto;
      padding: 0;
    }

    .video-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      margin: 0;
      padding-bottom: 56.25%;
      background: rgba(0, 0, 0, 0.25);
      box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.1);

      iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;

        opacity: 0;
        transition: opacity ease-out 0.75s;

        &.lazy-loaded {
          opacity: 1;
        }
      }
    }
  }
}
