html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #FFF;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  @media (prefers-color-scheme: dark) {
    background: $color-gray100;
  }
}

.inner {
  position: relative;
  max-width: 72rem;
  margin: auto;
  padding: 0 2.4rem;

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

#wrapper {
  position: relative;
  z-index: 10;
  padding: 8rem 0;

  @media only screen and (max-width: $breakpoint) {
      padding-top: 4rem;
  }
}

.infoPath #wrapper {
  padding-bottom: 24rem;
}


//============================================================
//	Navigation
//============================================================

#navigation {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem;
    z-index: 9999;
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    flex-direction: row;

    @media only screen and (max-width: $breakpoint) {
      padding: 0;
    }

    .inner {
      max-width: 80rem;
      display: flex;
      flex-grow: 1;
      padding: 1.2rem 1.6rem;
      border-radius: 8rem;
      background: linear-gradient(#FFF,rgba(255,255,255,.5));
      backdrop-filter: blur(10px);

      @media (prefers-color-scheme: dark) {
        background: linear-gradient(rgba(26,26,26,1),rgba(26,26,26,.75));
      }

      @media only screen and (max-width: $breakpoint) {
        flex-wrap: wrap;
        border-radius: 3.2rem;
        padding: 1.2rem;
        border-radius: 0;
      }
    }

    .nav-logo {
        width: 14rem;
        flex-shrink: 0;
        margin-left: 0;
        margin-right: auto;
        align-content: center;

        @media only screen and (max-width: $breakpoint) {
          width: 12rem;
          order: 1;
        }

        a {
            display: block;
            text-decoration: none;
            color: inherit;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .nav-primary {
        margin: 0 auto;
        align-content: center;

        @media only screen and (max-width: $breakpoint) {
          width: 100%;
          order: 3;
          flex-grow: 1;
          margin-top: 0.8rem;
        }
    }

    .nav-secondary {
      display: flex;
      align-content: center;
      margin-left: auto;
      margin-right: 0;

      @media only screen and (max-width: $breakpoint) {
        order: 2;
      }
    }

    .nav-button {
      font-size: 1.6rem;
      margin: auto 0.4rem;
      padding: 1rem 1.6rem;
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 700;
      color: $color-gray100;
      background: rgba(0,0,0,.05);
      border-radius: 4rem;
      text-decoration: none;
      transition: all ease-out 0.2s;
      white-space: nowrap;

      svg {
        width: 1.6rem;
        vertical-align: middle;
        display: inline-block;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 0.4rem;
      }

      @media (prefers-color-scheme: dark) {
        color: $color-gray500;
        background: rgba(255,255,255,0.05);
      }

      &:hover,
      &:focus {
        color: $color-gray100;
        background: rgba(0,0,0,0.1);
        transform: scale3d(1.01,1.01,1);

        @media (prefers-color-scheme: dark) {
          color: $color-gray600;
          background: rgba(255,255,255,0.1);
          box-shadow: 0 0 4px rgba(255,255,255,.05), 0 0 8px rgba(255,255,255,.05), inset 0 0 2px rgba(255,255,255,.1);
        }
      }
    }


  ul {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin: 0;
      padding: 0;

    li {
      display: flex;

      a {
        position: relative;
        display: block;
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 1.6rem 2.4rem;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        color: $color-gray400;
        transition: all ease-out 0.2s;
        box-sizing: border-box;

        @media only screen and (max-width: $breakpoint) {
          padding: 1.2rem 1.6rem;
        }

        &:hover,
        &:focus {
          color: $color-gray300;

          @media (prefers-color-scheme: dark) {
            color: #FFF;
          }
        }

        &.active {
          font-weight: 700;
          color: $color-gray200;

          @media (prefers-color-scheme: dark) {
            color: #FFF;
          }
        }
      }
    }
  }
}

.galleryPath,
.mapPath {

    #navigation {
      position: absolute;

      .inner {
          background: linear-gradient(#FFF,rgba(255,255,255,.5));
          backdrop-filter: blur(10px);
          box-shadow: 0 1px 2px rgba(0,0,0,0.2);

          @media (prefers-color-scheme: dark) {
            background: linear-gradient(rgba(26,26,26,1),rgba(26,26,26,.75));
          }
    }
    }
}

//============================================================
// Frontpage
//============================================================

.rootPath .inner {
  max-width: 96rem;
  padding: 0;
}

.front {
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: $breakpoint) {
    flex-direction: column;
  }
}

.front-image {
  position: relative;
  float: left;
  width: 50%;

  @media only screen and (max-width: $breakpoint) {
    width: 75%;
    margin: -2.4rem 12.5% 0;
  }

  img {
    margin: 0;
  }
}

.front-text {
  position: relative;
  width: 50%;
  z-index: 10;
  align-self: center;
  padding-right: 4rem;
  margin-left: -8rem;
  box-sizing: border-box;

  @media only screen and (max-width: $breakpoint) {
    width: auto;
    margin: 0;
    padding: 0 4rem;
    text-align: center;
  }

  .front-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 0.8rem;

    @media only screen and (max-width: $breakpoint) {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }
  }

  .front-description {
    position: relative;
    margin-top: 0;

    @media only screen and (max-width: $breakpoint) {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }
  }

  .download {
    display: block;
    z-index: 3;
    margin: 0 -0.4rem;

    .button {
      display: inline-block;
      padding: 1rem 2.4rem;
      margin: 0.4rem;
      width: auto;
      font-size: 1.4rem;
      line-height: 2.4rem;
      background: $color-yellow100;
      color: #000;
      font-weight: 700;
      text-decoration: none;
      border-radius: 2.4rem;

      span {
          display: block;

            &::after {
                position: relative;
                content: '';
                display: inline-block;
                width: 1.6rem;
                height: 1.6rem;
                margin: -0.2rem 0 -0.2rem 0.8rem;
                background: url('../images/icon-arrow.svg') center center / contain transparent;
                transform-style: preserve-3d;
                transform: translate3d(0,0,0);
                transition: all ease-out 0.3s;
            }
      }

      &:hover,
      &:focus {
          span:after {
              transform: translate3d(4px,0,0);
          }
      }
    }
  }

  .f-droid {
    color: $color-gray400;
    font-size: 1.4rem;
  }
}

html.ios .download .button-android,
html.ios .f-droid {
  display: none;
}

html.android .download .button-ios {
  display: none;
}


//============================================================
// Info
//============================================================


.content ul.team-list {
    list-style: none;
    padding: 0;
    margin: -0.8rem;

    &::after {
        clear: both;
        content: '';
        display: table;
    }

    li {
        width: 33.33333%;
        float: left;
        padding: 0.8rem;
        box-sizing: border-box;

        @media only screen and (max-width: $breakpoint) {
            width: auto;
            float: none;
        }

        &::before {
            display: none;
        }

        a {
            display: block;
            height: 8rem;
            padding: 1.6rem;
            border: 1px solid $color-gray500;
            border-radius: 0.3rem;
            box-sizing: border-box;

            @media (prefers-color-scheme: dark) {
              border-color: $color-gray300;
            }

            &:hover,
            &:focus {
                text-decoration: none;
                border-color: $color-gray400;
            }
        }
    }

    .team-avatar {
        width: 4.8rem;
        height: 4.8rem;
        margin: 0 0.8rem 0 0;
        float: left;
        border-radius: 0.2rem;
        overflow: hidden;
        background: $color-gray500;

        @media (prefers-color-scheme: dark) {
          background: $color-gray200;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
        }
    }

    .team-name {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: $color-gray200;

        @media (prefers-color-scheme: dark) {
          color: #FFF;
        }
    }

    .team-user {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: $color-gray300;

        @media (prefers-color-scheme: dark) {
          color: $color-gray400;
        }
    }

    .team-project {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.4rem;
        color: $color-gray400;

        @media (prefers-color-scheme: dark) {
          color: $color-gray500;
        }
    }

    .team-name,
    .team-user,
    .team-project {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}

a.contribute {
  display: block;
  position: relative;
  overflow: hidden;
  height: auto;
  padding: 2.4rem;
  padding-right: 33%;
  border: 0;
  border-radius: 0.6rem;
  background: url('../images/icon-github.svg') no-repeat scroll right 2.4rem bottom -1.6rem / contain $color-yellow100;
  color: $color-gray100;
  text-decoration: none;

  @media (prefers-color-scheme: dark) {
    color: $color-gray100;
  }

  @media only screen and (max-width: $breakpoint) {
    background-position: right -6.4rem bottom -1.6rem;
    padding-right: 2.4rem;
  }
  

  .contribute-title {
      display: block;
      margin-bottom: 0.8rem;
      font-weight: 800;
      font-size: 2.4rem;
      line-height: 3.2rem;
  }

  .contribute-copy {
      display: block;
      margin-bottom: 1.6rem;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.4rem;
  }

  .contribute-link {
      display: block;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.8rem;

      &::after {
          content: '';
          display: inline-block;
          width: 1.6rem;
          height: 1.6rem;
          margin: -0.2rem 0.8rem;
          background: url('../images/icon-arrow.svg') center center / contain transparent;
      }
  }
}


// ============================================================
// Gallery
// ============================================================

#gallerymap {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #AAD3DF; //OSM
  background: #94C1E0; //Maptiler Basic
  left: 0;
  top: 0;
}

.popupimage {
  display: block;
  width: 16rem;
  margin: 2rem auto;
}

// ============================================================
// Map
// ============================================================

#map {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #AAD3DF; //OSM
  background: #94C1E0; //Maptiler Basic
  z-index: 10;

  @media (prefers-color-scheme: dark) {
    background: #172131; //Maptiler Dark
  }

  left: 0;
  top: 0;
}

#map-count {
  position: fixed;
  width: 14em;
  left: 50%;
  margin-left: -7em;
  bottom: 0;
  margin-bottom: 1.2rem;
  padding: 1rem;
  border-radius: 4rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  text-align: center;
  background: linear-gradient(#FFF,rgba(255,255,255,.5));
  backdrop-filter: blur(10px);
  color: $color-gray200;
  z-index: 100;
  box-sizing: border-box;

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(rgba(26,26,26,.75),rgba(26,26,26,1));
    color: #FFF;
  }

  @media only screen and (max-width: $breakpoint) {
    margin-bottom: 2.4rem;
  }

  span {
    font-weight: 700;
    color: rgba(68,0,255,1);

    @media (prefers-color-scheme: dark) {
      color: rgba(255,214,51,1);
    }
  }
}

#map {
  .leaflet-control-zoom {
    margin: 1.2rem;

    @media only screen and (max-width: $breakpoint) {
      margin: 2.4rem;
    }
  }

  .leaflet-bar {
    background: linear-gradient(#FFF,rgba(255,255,255,.5));
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 4rem;
    border: 0;
    }
  .leaflet-bar a {
    background-color: transparent;
    border-bottom: 1px solid $color-gray500;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    }
    .leaflet-bar a span {
      position: relative;
      top: -2px;
    }
  .leaflet-bar a:hover,
  .leaflet-bar a:focus {
    background-color: $color-gray600;
    }
  .leaflet-bar a:first-child {
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    padding-top: 0.2rem;
    }
  .leaflet-bar a:last-child {
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    padding-bottom: 0.2rem;
    }
  .leaflet-bar a.leaflet-disabled {
    background-color: transparent;
    color: $color-gray400;
    }

  .leaflet-touch .leaflet-bar a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    }
  .leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    }
  .leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    }
}

//============================================================
// Videos
//============================================================


.video-post {
  margin: 2.5em auto;

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  .video-info {
    float: left;
    width: 33.333%;
    box-sizing: border-box;
    padding-right: 0.5em;

    @media only screen and (max-width: $breakpoint) {
      float: none;
      width: auto;
      padding: 0;
    }

    .video-title {
      margin: 0;
    }

    p {
      margin: 0 0 1em;
      font-style: italic;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .video-media {
    float: right;
    width: 66.666%;
    box-sizing: border-box;
    padding-left: 0.5em;

    @media only screen and (max-width: $breakpoint) {
      float: none;
      width: auto;
      padding: 0;
    }

    .video-wrapper {
      position: relative;
      width: 100%;
      height: 0;
      margin: 0;
      padding-bottom: 56.25%;
      background: rgba(0, 0, 0, 0.25);
      box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.1);

      iframe {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;

        opacity: 0;
        transition: opacity ease-out 0.75s;

        &.lazy-loaded {
          opacity: 1;
        }
      }
    }
  }
}
