$screen-small: 40rem;
$screen-large: 64rem;

$color-gray100: #1a1a1a;
$color-gray200: #262626;
$color-gray300: #45474d;
$color-gray400: #909399;
$color-gray500: #dadce0;
$color-gray600: #fafafa;

$color-action-dark: #ffd633;
$color-action-light: rgba(68,0,255,1);
